.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    margin-right: 50px;
  }
  
  .dropdown-item {
    cursor: pointer;
  }
  .nav-link:hover,
  .nav-link:hover .bi.bi-person-circle {
    color: #fc8019;
  }
  
  .bi.bi-person-circle:hover {
    color: inherit;
  }
  
  .nav-link,
  .bi.bi-person-circle {
    transition: color 0.3s ease;
    margin-left: 50px;
  }
  .dropdown {
    position: relative;
    margin-right: 50px;
  }
  .logout-link {
    color: red; 
    
  }
  