<div class="footer">
    <div class="col">
        <h3>Food Fun</h3>
        <a>2024 Bundl Technologies Pvt. Ltd</a>
        <a>Discover the joy of food with Food Fun.Explore our delightful range of services and products.</a>
    </div>
    <div class="col">
        <h3>Explore</h3>
        <a routerLink="/about">About</a>
        <a routerLink="/career">Career</a>
        <a routerLink="/team">Team</a>
        <a routerLink="/foodfun-one">FoodFun One</a>
        <a routerLink="/foodfun-instamart">Instamart</a>
        <a routerLink="/foodfun-genie">Genie</a>
    </div>
    <div class="col">
        <h3>Contact Us</h3>
        <a routerLink="/support">Help & Support</a>
        <a (click)="navigateToMerchantReg()">Partner with us</a>
        <a routerLink="/ride-with-us">Ride with us</a>
    </div>
    <div class="col">
        <h3>Legal</h3>
        <a href="https://www.estartindia.com/knowledge-hub/blog/how-to-make-terms-and-conditions-of-food-delivery-platform" target="_blank">Terms & Conditions</a>
        <a href="https://foodapp.in/privacy-policy.html" target="_blank">Cookie Policy</a>
        <a href="https://foodapp.in/privacy-policy.html" target="_blank">Privacy Policy</a>
    </div>
    <div class="col">
        <h3>Delivery Locations</h3>
        <a>Bangalore</a>
        <a>Patna</a>
        <a>Gurgaon</a>
        <a>Hyderabad</a>
        <a>Delhi</a>
        <a>Mumbai</a>
        <a>Pune</a>
        <a><select name="course list">
            <option>589 cities</option>
            <option>Bangalore</option>
            <option>Patna</option>
            <option>Ranchi</option>
            <option>Bhubaneswar</option>	
        </select></a>
    </div>
</div>
