<h1>Meet the FoodFun App Team</h1>
<h2>Frontend Team</h2>
<div class="team-member">
    <img src="" alt="Sudha Koralli">
    <h3>Sudha Koralli</h3>
    <p>Frontend Developer</p>
</div>

<h2>Backend Team</h2>
<div class="team-member">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczO_YjB9gGUtxC27T_e1SQVojLFX_p_KqFNq5MgzDTlxk_cYUVg-gUBFt0aEA6DZFey7REhXbl4F_riEJ1ugtnP5SgBv6CMn5PdlpWEpSLhIfRHNPOUd2JAl4N49zeJN0aKcptNaJYSkMBG8RAMIpiA_=w714-h828-s-no-gm?authuser=0" alt="Ambavaram Jeevan Reddy">
    <h3>Ambavaram Jeevan Reddy</h3>
    <p>Backend Developer</p>
</div>

<div class="team-member">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczOORfoUVQgU9TGwE8xBUrv2x6LYEoM95RWaWFlKLi6fGJ1NwtdF43_P0GyMH2GUpneaSA85D4HOOA89U6H_PlAt4jRUEBZ4C_EI_q3uA1jZkhRcR6r8x3CMVD7AyEKuoT8M1btKbuFP1y-3YJxpIyLj=w685-h923-s-no-gm?authuser=0" alt="Charan Aggala">
    <h3>Charan Aggala</h3>
    <p>Backend Developer</p>
</div>

<div class="team-member">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczOqvdzDnzkLOMhJ4aCao591slSosZF0b0Yw5YFIKvOG99wecjVT4uvTFh28DCI4WvN--gVwqZaj7yOVVgxKVAsh9Fn4WHQIFBwaMPPCXMD5MHjI76rAZz6QTuGjfhauqKNjD9pyuLbgAvOzk2lr6wi8=w567-h744-s-no-gm?authuser=0" alt="Palakonda Rayudu Uppu">
    <h3>Palakonda Rayudu Uppu</h3>
    <p>Backend Developer</p>
</div>

<div class="team-member">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczNiVVCo6b3Ae6SrmRc9VxAYGNVuhBZlxT8p4jxJ2CxzbKz43CMVVMutAgdsblQHslz5OIefdgt3ny_W-dlaJowaSyZJUwqCCj4KiS_6iwEJBKa6P_Ca0225Ib3ZHQlxq7XHDJY1Xs0X4K849jXT0U5uRA=w657-h909-s-no?authuser=0" alt="Image">

    <h3>Priyanka Somala</h3>
    <p>Backend Developer</p>
</div>

<div class="team-member">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczPkxOnMciKJYObfwQ57dJEE7bDj0BeTHb9YA03k_ozKTCh4gJBNhW4ixpviZfLeBLK70VX7aBWlJm2rxcjYR3uoDBYp4LWZfUgevOVRyA-Yoegn-RGq9Fs1FTqwcUTqx0aMc1pPdXdvpxkJ9wOs8rnI=w681-h909-s-no?authuser=0" alt="Renuka Veesani Shivakumar">
    <h3>Renuka Veesani Shivakumar</h3>
    <p>Backend Developer</p>
</div>

<div class="team-member">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczPl78aVFkFVbNXh3PgMEsfz_63mTsWgoHN2Sf0n1SkGbqoWtU7ozhzG2KJWoksyy1_HKd_7dqPvDZAwsSKLsx_ChurwfZngPsTR02PYFnmcZ_I5vmPZ9jUQrJ7sWnmWTOUusjlq8nnldbjAcykSLfzj=w627-h836-s-no?authuser=0" alt="Supraja Nimma">
    <h3>Supraja Nimma</h3>
    <p>Backend Developer</p>
</div>

<h2>QA Team</h2>
<div class="team-member">
    <img src="qa-team/shweta-govekar.jpg" alt="Shweta Govekar">
    <h3>Shweta Govekar</h3>
    <p>QA Engineer</p>
</div>

<div class="team-member">
    <img src="qa-team/sushma-r.jpg" alt="Sushma R">
    <h3>Sushma R</h3>
    <p>QA Engineer</p>
</div>

