<div class="navbar">
  <div class="leftbar">
    <ul>
      <li>
        <a href="#">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOVHDyOq-G2nM1sQVk5ICoR84Fsmd_MTzwAF1rhEg7lEdovP8Wryzw8apfmH0oH3M5EAI&usqp=CAU" alt="" />
          FOOD FUN
        </a>
      </li>
    </ul>
  </div>
  <div class="rightbar">
    <ul>
      <li>
          <i class="bi bi-question-circle" routerLink="/support"></i> Help
      </li>
      <li>
        <app-profile></app-profile>
      </li>
      <li>
        <a class="bi bi-cart" routerLink="/cart" style="font-size: 1.1rem">&nbsp;Cart</a>
      </li>
    </ul>
  </div>
</div>
