<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card" (click)="navigateToCustomerLogin()">
          <div class="card-body">
            <img src="https://www.freeiconspng.com/thumbs/login-icon/large-user-icon-26.gif" alt="Customer" class="login-icon">
            <h5 class="card-title">Customer Login</h5>
            <p class="card-text">Click here to login</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" (click)="navigateToMerchantLogin()">
          <div class="card-body">
            <img src="https://th.bing.com/th/id/OIP.zzDa9vyxWbBwfI0-YkQmggAAAA?pid=ImgDet&w=128&h=128&c=7&dpr=1.5" alt="Merchant" class="login-icon">
            <h5 class="card-title">Merchant Login</h5>
            <p class="card-text">Click here to login</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-header></app-header>
